<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KdG - Arrivals</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

<div th:replace="~{common/common :: nav}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Arrivals</h2>

            <!-- Form to submit license plate and local datetime -->
            <form th:action="@{/get-arrivals}" method="get">

                <div class="form-group mb-3">
                    <label for="slot">Slot</label>
                    <input type="datetime-local" id="slot" name="slot" class="form-control" th:value="${slot}"placeholder="Select Date and Time" required>
                </div>

                <div class="d-flex justify-content-between">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <!-- Display results below -->
            <div class="mt-4">
                <h4>Arrivals Data</h4>
                <div th:if="${arrivals != null}">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Slot Time</th>
                            <th>License Plate</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="arrival : ${arrivals}">
                            <td th:text="${#temporals.format(arrival.slot, 'dd/MM HH:mm')}"></td>
                            <td th:text="${arrival.licensePlate}"></td>
                            <td>
                                    <span th:if="${arrival.arrived}" class="text-success">
                                        <i class="bi bi-check-circle-fill text-success"></i> Arrived
                                    </span>
                                <span th:if="${!arrival.arrived}" class="text-danger">
                                        <i class="bi bi-x-circle-fill text-danger"></i> Not Arrived
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${arrivals == null}">
                    <p>No arrival data available. Please enter a license plate and date to check arrivals.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{common/common :: footer}"></div>

</body>
</html>
