<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error 500 - Internal Server Error</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body class="bg-light">
<div class="container mt-5">
  <h1 class="text-center text-danger">500 - Internal Server Error</h1>
  <p class="text-center">Oops! Something went wrong on our end.</p>
  <p class="text-center">
    Please <a th:href="@{/}">return to the homepage</a> or try again later.
  </p>
</div>
</body>
</html>