<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KdG - Waiting Queue</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body class="bg-light">

<div th:replace="~{common/common :: nav}"></div>

<!-- Appointment Form Section -->
<div class="container mt-5">
    <h2 class="text-center">Fill in following info</h2>
    <p class="text-center">Fill in the following information and receive a place in the waiting queue.</p>
    <form action="/add-to-waitingqueue" method="POST" th:object="${new_waitingqueueappointment}">

        <div class="form-group mb-3">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control" id="customerName" placeholder="Enter Customer Name"
                   th:field="*{customerName}" required>
            <div th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>
            <div th:if="${customerNotFound}" style="color: red;">
                <p th:text="${customerNotFound}"></p>
            </div>
        </div>


        <div class="form-group mb-3">
            <label for="rawMaterial">Raw Material</label>
            <input type="text" class="form-control" id="rawMaterial" placeholder="Enter Raw Material"
                   th:field="*{rawMaterial}" required>
            <div th:if="${#fields.hasErrors('rawMaterial')}" th:errors="*{rawMaterial}"></div>
            <div th:if="${rawMaterialNotFound}" style="color: red;">
                <p th:text="${rawMaterialNotFound}"></p>
            </div>

        </div>

        <div class="form-group mb-3">
            <label for="licensePlate">License Plate</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Enter License Plate"
                   th:field="*{licensePlate}" required>
            <div th:if="${#fields.hasErrors('licensePlate')}" th:errors="*{licensePlate}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="slot">Simulated Time of Arrival - TESTING</label>
            <input type="datetime-local" class="form-control" id="slot" th:field="*{simulatedTimeOfRegistration}" required>
            <div th:if="${#fields.hasErrors('simulatedTimeOfRegistration')}" th:errors="*{simulatedTimeOfRegistration}"></div>
        </div>


        <div th:if="${appointmentLogicError}" style="color: red;">
            <p th:text="${appointmentLogicError}"></p>
        </div>



        <button type="submit" class="btn btn-primary btn-lg mt-4">Submit</button>
    </form>
</div>

<div th:replace="~{common/common :: footer}"></div>

</body>

</html>
